body{
    margin: 0px;
    height: 100px;
    background-color: rgb(14, 14, 14);
}

img{
    box-sizing: border-box;
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    width: "377";
    height: "251";
}